/* work sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
  box-sizing: border-box;
  font-family: Work Sans;
}

body {  
  margin: auto;
  /* border: 5px solid slateblue; */
  /* width: 1920px; */
}

.logo_txt {   /* in logo and footer */
font-size: 45px;
font-weight: 700;
color: #0B0223;
}

.black_heading_txt {    /* black heading txt all over the page */
color: #0B0223;
font-size: 48px;
font-weight: 700;
}

.color_heading_txt {	  /* color heading txt all over the page */
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  /* background-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  /* line-height: normal;  */
}

.mini_txt {   /* Mini txt in various place */
color: #534C64;
font-size: 18px;
font-weight: 400;
}

.normal_txt {   /* normal txt in various place */
color: #534C64;
font-size: 20px;
font-weight: 500;
}

.btn_pink {
  padding: 21px 40px;
  border-radius: 48px;
  border: 0px;
  background-color: #FF42A5;  
  font-size: 20px;
  font-weight: 600;
  color: #fff;  
}

.btn_blue {
  padding: 21px 40px;
  border-radius: 48px;
  border: 0px;
  background-color: #4EC5F7;  
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}







/* nav styles */
nav {
  background-color: #fff;
}

.nav-container {
  /* border: 5px solid red;   */
  max-width: 1440px;
  margin: 0 auto;
  min-height: 130px;  
  display: flex;
  align-items: center;
  /* padding-left: 240px; */  
  /* justify-content: space-between; */
}

.logo-container {
  /* border: 5px solid green; */
  display: flex;
  align-items: center;
  width: 50%;  
  /* justify-content: space-between; */
}

.logo-container img {
  /* border: 5px solid salmon; */
  width: 86px;
  height: 40px;
  margin-right: 15px;
  object-fit: cover;
}

.nav-items-container {
  /* border: 5px solid blue; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.nav-items-container a {
  text-decoration: none;
  font-size: 18px;  
  font-weight: 500;
  color: #3C354F;
  margin-left: 70px;
}

.follow_us_btn {
  background-color: #E7E6E9;
  padding: 16px 25px;
  border-radius: 8px;  
}



/* goat section styles */
.goat_section {  
  background-image: url('../images/Group14.png');  
  min-height: 700px;
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  /* border: 5px solid green; */
}

.goat_contents {
  max-width: 1440px;
  /* border: 5px solid red; */
  min-height: 700px;
  margin: 0px auto;
  display: flex;
}

.goat_txt_content {
  /* border: 5px solid blue; */
  width: 50%;
  min-height: 700px;
  padding-top: 100px;  
}

.goat_title {
  color: #0B0223;  
  font-size: 48px;  
  font-weight: 600;  
}

.goat_big_txt {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  margin-top: -50px;
  margin-bottom: 0px; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.goat_img_content {
  /* border: 5px solid chartreuse; */
  width: 50%;
  min-height: 700px;  
}


/* funny video section styles */
.funny_video_section {
  min-height: 700px;
  /* border: 5px solid green; */
}

.funny_video_txt {
  /* border: 5px solid red; */
  text-align: center;
}

.funny_video_content {
  display: flex;
  gap: 20px;
  /* border: 5px solid blue; */
  min-height: 300px;  
  max-width: 1440px;
  margin: auto;
}

/* play instant section styles */
.play_instant_section {
  display: flex;  
  /* border: 5px solid green; */
  max-width: 1440px;
  margin: auto;  
}

.play_instant_txt {
  /* border: 5px solid red; */
  width: 50%;
  margin: auto;  
}

.play_instant_img {
  /* border: 5px solid blue; */
  width: 50%;  
}

.big_img {  
  width: 80%;
  margin-left: 120px;  
}

.small_img {    
  position: relative;
  bottom: 250px; 
}





/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 576px) {
  
  .nav-container {
    flex-direction: column;
    margin-top: 50px;   
  }

  .nav-items-container {
    flex-direction: column;    
  }

  .nav-items-container a {    
    font-size: 10px;
    margin:  10px auto;       
  }

  .goat_section {  
    background-image: none;
  }

  .goat_contents {
    flex-direction:column-reverse;
  }

  .goat_txt_content {
    width: 100%;
    min-height: 300px;
    padding-top: 50px;    
    text-align: center;
    
  }

  .goat_txt_content ul { 
    /* list-style-type: none; */
    padding: 0;
    /* margin: 0; */
  }

  .goat_title {    
    font-size: 25px;  
    font-weight: 600;
    margin-bottom: 50px;  
  }

  .goat_big_txt {
    font-size: 50px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    margin-top: -50px;
    margin-bottom: 0px; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  }

  .normal_txt {  /* shared */
    font-size: 12px;
    font-weight: 500;
  }

  .btn_pink {
    padding: 10px 20px;    
    font-size: 12px;
    font-weight: 500;    
  }

  .btn_blue {
    padding: 10px 20px;    
    font-size: 12px;
    font-weight: 500;    
  }

  .goat_img_content {
    width: 100%;
    text-align: center;
    min-height: 300px;   
  }

  .goat_img_content img{
    width: 70%;    
  }

  .funny_video_content {
    flex-direction: column;
    text-align: center;
  }

  .black_heading_txt {
    font-size: 25px;
    font-weight: 700;
  }

  .color_heading_txt {
    font-size: 25px;  
    font-weight: 700;    
  }

  .mini_txt {  
    font-size: 12px;
    font-weight: 500;
  }

  .play_instant_section {
    flex-direction: column;
  }

  .play_instant_txt {    
    width: 80%;    
  }

  .play_instant_img {    
    width: 90%;
  }
  
  .big_img {    
    width: 80%;
    margin-left: 70px;    
  }
  
  .small_img {      
    width: 40%;
    position: relative;
    bottom: 150px; 
  }

}


/* tablet or medium device */
@media screen and (min-width: 577px) and (max-width: 960px) {
 
  .nav-container {
    flex-direction: column;
    margin-top: 50px;    
  }
  
  .nav-items-container {
    width: 70%;    
  }

  .nav-items-container a {    
    font-size: 14px;
    margin:  10px auto;       
  }

  .goat_section {  
    background-image: none;
  }

  .goat_contents {
    flex-direction:column-reverse;
  }

  .goat_txt_content {
    width: 100%;
    min-height: 300px;
    padding-top: 50px;    
    text-align: center;
    
  }

  .goat_txt_content ul {     
    padding: 0;    
  }

  .goat_title {    
    font-size: 25px;  
    font-weight: 600;
    margin-bottom: 50px;  
  }

  .goat_big_txt {
    font-size: 50px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    margin-top: -50px;
    margin-bottom: 0px; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  }

  .normal_txt {  /* shared */
    font-size: 12px;
    font-weight: 500;
  }

  .btn_pink {
    padding: 10px 20px;    
    font-size: 12px;
    font-weight: 500;    
  }

  .btn_blue {
    padding: 10px 20px;    
    font-size: 12px;
    font-weight: 500;    
  }

  .goat_img_content {
    width: 100%;
    text-align: center;
    min-height: 400px;   
  }

  .goat_img_content img{
    width: 70%;    
  }

  .funny_video_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    text-align: center;
  }

  .black_heading_txt {
    font-size: 25px;
    font-weight: 700;
  }

  .color_heading_txt {
    font-size: 25px;  
    font-weight: 700;    
  }

  .mini_txt {  
    font-size: 12px;
    font-weight: 500;
  }

  .play_instant_section {
    flex-direction: column;
  }

  .play_instant_txt {    
    width: 80%;    
  }

  .play_instant_img {    
    width: 90%;
  }
  
  .big_img {    
    width: 80%;
    margin-left: 70px;    
  }
  
  .small_img {      
    width: 40%;
    position: relative;
    bottom: 150px; 
  }

}